@import './mixin.scss';
.container {
    position: relative;
    width: 1226px;
    // 块级元素水平居中：1.盒子必须指定宽度 2.margin-left/margin-right:auto
    margin-right: auto;
    margin-left: auto;
}
a {
    img {
        width: 100%;
        height: 100%;
    }
}
input {
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

// 清除浮动
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

// 公共logo
.header-logo {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #FF6600;

    a {
        display: inline-block;
        width: 110px;
        height: 55px;

        &:before {
            content: ' ';
            @include bgImg(55px, 55px, '../../public/imgs/mi-logo.png', 55px);
            transition: margin .2s;
        }

        &:after {
            content: ' ';
            @include bgImg(55px, 55px, '../../public/imgs/mi-home.png', 55px);
        }

        &:hover:before {
            margin-left: -55px;
            transition: margin .2s;
        }
    }
}